/*@font-face {*/
/*    font-family: 'Prosto One';*/
/*    src: url('../fonts/subset-ProstoOne-Regular.woff2') format('woff2'),*/
/*    url('../fonts/subset-ProstoOne-Regular.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Raleway';*/
/*    src: url('../fonts/subset-Raleway-Thin.woff2') format('woff2'),*/
/*    url('../fonts/subset-Raleway-Thin.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 9px;
    color: #fff;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    /*font-weight: 600;*/
    font-weight: normal;
    margin: 0 auto;
}

body.modal-open {
    overflow: hidden;
}

* {
    box-sizing: inherit;
}

h1,
.h1,
h2,
.h2 {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Prosto One', cursive;*/
    font-weight: bold;
    /*font-weight: normal;*/
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.modal:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.98;
    -moz-opacity: 0.98;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.modal-content {

}

.modal-content:before {
    content: '';
    display: block;
    padding-top: 56.25%;
}

.modal-content #player {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.modal--open {
    display: flex;
}

.modal-close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    color: white;
    font-size: 40px;
    z-index: 10;
}

.nav,
/*.nav-item,*/
/*.logo,*/
.logo__img,
.promo__title-img,
.promo__title,
.about__subtitle-desktop,
.shooting__text,
.shooting__subtitle,
.shooting__img-bottom,
.column-right,
.shooting__quote-three,
.shooting__quote-four,
.music__tags,
.apple,
.blog__img,
.blog__row,
.music-btn,
.work__item.bi,
.promo__position-desktop {
    display: none;
}

.promo {
    height: 623px;
    margin: 0 auto;
    background-image: url(../image/promo360.png);
    background-position: center;
    background-size: cover;
    /*vertical-align: bottom;*/
}

.header {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 213px;
}


.burger {
    width: 26px;
    height: 1.44px;
    margin-top: 4.33px;
    margin-bottom: 4.33px;
    background-color: #fff;

}

.burger-menu {
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 1;
    top: 24px;
    right: 17px;
    width: 26px;
    height: 12.98px;
    padding: 0;
    border: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background: transparent;
    cursor: pointer;
}

.promo__title-mobile {
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.015em;
}

.promo__subtitle {
    font-size: 11px;
    line-height: 27px;
    letter-spacing: 0.2em;
    color: #fff;
    margin: 0 auto;
}

.promo__position {
  display: block;
  text-align: center;
  width: 30%;
  margin: 0 auto; 
}

.header__arrow {
  display: inline-block;
  background: url(../image/css_sprites.png), no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  margin-top: 40px;
}

.arrow-img {
    background-position: -54px -134px;
}


@-webkit-keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble-vertical-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical-on-hover:hover, .wobble-vertical-on-hover:focus, .wobble-vertical-on-hover:active {
  -webkit-animation-name: wobble-vertical-on-hover;
  animation-name: wobble-vertical-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.work {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.work__item {
    width: 100%;
    position: relative;
}

.work__item-inner {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.work__item:before {
    content: '';
    display: block;
    padding-top: 55.5%;
}

.work__item-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.work__item-image--grom {
    background-image: url(../image/grom.png);
}

.work__item-image--doctor {
    background-image: url(../image/chum.png);
}

.work__item-image--iowa {
    background-image: url(../image/iowa.png);
}

.work__item-image--iowa-m {
    background-image: url(../image/iowa-m.png);
}

.work__item-image--nyusha {
    background-image: url(../image/nyusha.png);
}

.work__item-image--leningrad {
    background-image: url(../image/leningrad.png);
}

.work__item-position {
    margin-top: 19px;
    margin-bottom: 45px;
    letter-spacing: 0.2em;
    z-index: 1;
}

.work__item-name {
    margin: 0 auto;
    z-index: 1;
    margin-bottom: ;

    /*TODO */
    /*height: 63px;*/
}

.work__item-subtitle {
    letter-spacing: 0.2em;
    z-index: 1;
}

.work__item-name.doctor__name {
    height: initial;
    margin-bottom: 45px;
}

.work__item-name.iowa__name {
    height: initial;
    margin-bottom: 7%;
}

.work__item-name.iowa-m__name {
    height: initial;
    margin-bottom: 14px;
}

.work__item-name.nyusha__name {
    height: initial;
    margin-bottom: 14px;
}

.work__item-name.leningrad__name {
    height: initial;
    margin-bottom: 14px;
}

.look {
    width: 184px;
    height: 32px;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    margin: auto;
    /*margin-bottom: 98px;*/
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.2em;
    transition: all 300ms;
    cursor: pointer;
    border: none;
}

.look:hover {
  background-color: #fff;
  color: #333333;
  border: 1px solid #828282;
  box-sizing: border-box;
}

.look:active {
    background: #fff;
    border: 1px solid #828282;
    color: #828282;
}

.about {
    margin: 0 auto;
    color: #000;
    margin-bottom: 88px;
    margin-top: 98px;
}

.about__img {
    display: block;
    /*width: 360px;*/
    height: 328px;
    margin: 0 auto;
    background-image: url(../image/about360.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about__title {
    font-size: 36px;
    line-height: 42px;
    padding-right: 38px;
    padding-left: 17px;
    text-transform: none;
    color: #333333;
    text-align: left;
    margin: 0;
}

.shooting__title,
.music__title,
.blog__title {
    font-size: 36px;
    line-height: 42px;
    /*padding-right: 38px;*/
    padding-left: 17px;
    font-weight: bolder;
    text-transform: none;
    color: #333333;
    text-align: left;
    margin: 0;
}

.row.about {
    display: block;
    /*width: 360px;*/
    font-size: 0;
    margin: 0 auto;
    margin-bottom: 44px;
}

.column-left,
.column-right {
    display: inline-block;
    vertical-align: top;
}

.column-right {
    margin-left: 99px;
}

.about__subtitle,
.shooting__subtitle-mobile,
.music__subtitle {
    font-size: 14px;
    line-height: 22px;
    padding-left: 17px;
    padding-right: 32px;
    margin-bottom: 24px;
    color: #828282;
    text-transform: none;
    text-align: left;
}

.about__text,
.shooting__quote-three-mobile,
.music__text,
.music__text-right {
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4F4F4F;
    padding-right: 11px;
    text-align: left;
    text-transform: none;
    margin: 0;
    margin-left: 99px;
  }

.shooting__quote-one {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #4F4F4F;
    text-transform: none;
    text-align: left;
    margin-top: 0;
    padding-left: 99px;
}

.shooting__cite,
.shooting__cite-mobile {
    font-size: 14px;
    line-height: 22px;
    margin-right: 70px;
    margin-bottom: 80px;
    padding-left: 99px;
    text-transform: none;
    text-align: left;
    color: #828282;
    font-weight: normal;
}

.shooting {
    /*max-width: 360px;*/
    margin: 0 auto;
    margin-bottom: 144px;
}

.shooting__img-top {
    /*width: 360px;*/
    height: 320px;
    background-image: url(../image/shooting360.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 92px;
}

.shooting__quote-two {
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    color: #4F4F4F;
    text-transform: none;
    margin-left: 99px;
    text-align: left;
}

/*.shooting__cite-mobile {
    font-size: 14px;
    line-height: 22px;
    color: #828282;
    margin-left: 99px;
    text-align: left;
    text-transform: none;
    padding-right: 1px;
}*/

.shooting__img-two {
    display: block;
    background-image: url(../image/shooting-m-two.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 320px;
    margin-bottom: 14px;
}

.shooting__img-two-left {
    display: inline-block;
    background-image: url(../image/shooting-m-two-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 320px;
}

.shooting__text-left {
    font-size: 14px;
    line-height: 22px;
    color: #828282;
    text-transform: none;
    text-align: left;
    margin-top: 8px;
    padding-left: 16px;
}

.shooting__img-mobole-three {
    display: inline-block;
    background-image: url(../image/shooting-m-two-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 320px;
}

.column-right {
    margin: 0 auto;
}

.shooting__text-right,
.music__text-left {
    font-size: 14px;
    line-height: 22px;
    padding-left: 16px;
    color: #828282;
    text-transform: none;
    text-align: left;
    margin: 0;
}

.shooting__quote-three-mobile {
  margin-bottom: 40px;
}

.shooting__btn,
.shooting__btn,
.news__btn,
.blog__btn {
  width: 192px;
  height: 40px;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  margin: auto;
  margin-bottom: 52px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.2em;
  transition: all 300ms;
  cursor: pointer;
  border: none;
}

.shooting__btn:hover,
.shooting__btn:hover,
.news__btn:hover,
.blog__btn:hover {
  background-color: #fff;
  color: #333333;
  border: 1px solid #828282;
  box-sizing: border-box;
}

.shooting__btn:active,
.shooting__btn:active,
.news__btn:activ,
.blog__btn:active {
  background: #fff;
  border: 1px solid #828282;
  color: #828282;
}

.tags-mobile {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  text-align: left;
  padding-left: 17px;
}

.tags-container {
  display: block;
  padding-left: 17px;
  text-align: left;
}

.tags-item-mobile {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FD243C;
  text-transform: none;
  padding-right: 20px;
  /*text-align: left;*/
  /*padding-left: 17px;*/
}

.music {
  margin-bottom: 130px;
}

.music__roman {
  color: red;
}

.music__one {
  display: inline-block;
  background-image: url(../image/music-one-m.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 320px;
}

.music__text,
.music__text-left,
.music__text-right {
  margin-bottom: 40px;
}



.music__img-two {
  display: inline-block;
  background-image: url(../image/music-two-m.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 320px;
  margin-bottom: 70px;
}

.carousel {
  width: 100%;
  color: #000;
  margin-top: 100px;
}

.news__left-mobile {
  display: block;
  background-image: url(../image/news-m.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 320px;
  margin-bottom: 23px;
}

.news__time,
.blog__time {
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  text-align: left;
  text-transform: none;
  padding-left: 17px;
}

.news__subtittle,
.blog__subtitle,
.contact__tittle {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #333333;
  text-align: left;
  text-transform: none;
  padding-left: 17px;
}

.news__text,
.blog__text {
  font-size: 16px;
  line-height: 26px;
  color: #4F4F4F;
  margin-bottom: 40px;
  text-align: left;
  text-transform: none;
  padding-left: 17px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    display: none;
}

.blog__title {
  margin-top: 130px;
  margin-bottom: 30px;
}

.blog__img-mobile {
  margin-bottom: 25px;
}

.blog__subtitle {
  padding-right: 31px;
}

.blog__time {
  display: block;
  text-align: left;
}

.tags__row {
  display: block;
  margin: 0 auto;
  font-size: 0;
  margin-top: 20px; 
  margin-bottom: 100px;
}

.blog__tags-column {
  display: inline-block;
  width: 45%;
}

.tags-item-mobile {
  font-size: 12px;
  line-height: 26px;
  color: #FD243C;
  text-decoration: none;
}

.instagram__title {
  font-size: 24px;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.25em;
  color: #4F4F4F;
  margin-bottom: 20px;
}

.instagram__name {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #828282;
  margin-bottom: 33px;
  text-transform: none;
}

.instagram__img {
  /*display: inline-block;*/
  /*height: 192px;*/
}

.contact__tittle {
  padding-left: 0;
} 

.contact__column {
  text-align: left;
  padding-left: 20px;
}

.contact__name {
  font-size: 22px;
  line-height: 35px;
  font-weight: bold;
  color: #4F4F4F;
  text-transform: none;
  text-align: left;
  /*padding-left: 17px;*/
}

.contact__email {
  font-size: 18px;
  line-height: 30px;
  color: #4F4F4F;
  text-transform: none;
}

    .contact__tel {
  font-weight: bold;
  font-size: 22px;
  line-height: 193.78%;
  letter-spacing: 0.02em;
  color: #4F4F4F;
}

.footer__icon {
        display: inline-block;
        background: url(../image/css_sprites.png), no-repeat;
        width: 42px;
        height: 42px;
        margin-top: 20px;
        margin-right: 30px;
    }

    .whatsapp {
        background-position: -10px -72px;
    }

    .whatsapp:hover {
        background-position: -72px -72px;
    }

    .talagram {
        background-position: -134px -10px;
    }

    .talagram:hover {
        background-position: -134px -72px;
    }

    .facebook {
        background-position: -10px -10px;
    }

    .facebook:hover {
        background-position: -72px -10px;
    }






/*@media (min-width: 768px) {*/
/*}*/

@media (min-width: 1024px) {

    .promo__subtitle,
    .about__subtitle,
    .shooting__subtitle-mobile,
    .shooting__cite-mobile,
    .shooting__img-mobole-three,
    .shooting__quote-three-mobile,
    .shooting__tags-mobile,
    .promo__title-mobile,
    .news__left-mobile,
    .blog__column-mobile,
    .blog__column-tags-mobile,
    .tags-mobile,
    .tags-item-mobile,
    .instagram-mobile {
        display: none;
    }

    .promo {
        display: block;
        width: 100%;
        height: 200%;
        margin: 0 auto;
        background-image: url(../image/promo-b.png);
        background-position: top;
        background-size: cover;
        position: relative;
    }

    .header {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 80px;
        z-index: 10;
        margin-bottom: 10px;
        /*transition: background 100ms;*/
    }



    .promo__title {
      display: inline-block;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.465em;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-top: 300px;
    }

    .promo__title-img {
      display: block;
      margin: 0 auto;
      
     
    }

    .promo__position-desktop {
      display: block;      
      width: 100%;
      text-align: center;
      vertical-align: middle;
      /*height: 20%;*/
      
    }

    .promo__subtitle-desktop {
      font-size: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 20px;

    }

    .header--shown {
      background: #ffffff;
    }

    .header--shown .nav {
     margin-left: 550px;

    }

    .header--shown .nav-item {
      text-align: left;
        color: #828282;
    }

    .header--shown .inner {
      color: transparent;
    }

    .header--shown .nav-item svg path {
        fill: #828282;
    }

    .logo {
      display: block;
      margin-right: auto;
      padding-left: 44px;
      padding-top: 15px;
      opacity: 0;
      transition: all 300ms;
      pointer-events: none;
    }

    .logo__img {
      display: block;
      width: 144px;
      height: 94px;
    }

    .logo--shown {
        opacity: 1;
        pointer-events: initial;
    }

    .nav {
        display: block;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        vertical-align: middle;
      
    }

    .nav-item {
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 20px;
    }

    .nav-item svg path {
        fill: #ffffff;
        margin-right: 80px;
    }

    .burger,
    .burger-menu {
        display: none;
    }

    .header__arrow {
      /*display: block;*/
      /*margin-top: 335px;*/
    }

    .work__item.bi {
      margin-bottom: 0;
      padding-top: 59px;
    }

    .wrapper {
        max-width: 1440px;
        margin: auto;
    }

    .work {
        display: flex;
        flex-direction: column;
        background-image: url(../image/work.png);
        flex-wrap: wrap;
        max-width: 100%;
        margin: auto;
        margin-bottom: 53px;
    }

    .work__item {
        display: block;
        /*background-size: cover;*/
        width: 944px;
        /*height: 400px;*/
        /*margin: 0;*/
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        margin-bottom: 56px;
    }

    .work__item-inner:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: -1;
        transition: opacity 0.1s;
    }

    .work__item-image {
        transition: transform 300ms;
    }

    .work__item:hover .work__item-image {
        transform: scale(1.1);
    }

    .work__item:hover .work__item-inner:after {
        opacity: 0;
    }


    .work__item-image--grom {
        background-image: url(../image/grom-h.jpg);
    }

    .work__item-image--doctor {
        background-image: url(../image/chum-h.jpg);
    }

    .work__item-image--iowa {
        background-image: url(../image/iowa-h.jpg);
    }

    .work__item-image--iowa-m {
        background-image: url(../image/iowa-m-h.jpg);
    }

    .work__item-image--nyusha {
        background-image: url(../image/G66VYyEWk40.jpg);
    }


    .work__item-image--leningrad {
        background-image: url(../image/leningrad-h.jpg);
    }

    .work__item-position {
        font-size: 13px;
        line-height: 15px;
        margin-top: 38px;
        margin-bottom: 95px;
        letter-spacing: 0.2em;
    }

    .work__item-name {
        font-size: 48px;
        line-height: 60px;
        height: 63px;
        margin-bottom: 80px;
    }

    .work__item-name.doctor__name {
        margin-bottom: 25px;
    }

    .work__item-name.iowa__name {
        margin-bottom: 25px;
    }

    .work__item-name.iowa-m__name {
        margin-bottom: 25px;
    }


    .work__item-name.nyusha__name {
        margin-bottom: 18px;
    }

    .work__item-name.leningrad__name {
        margin-bottom: 18px;
    }

    .work__item-subtitle {
        font-size: 13px;
        line-height: 15px;
    }

    .look {
        width: 267px;
        height: 40px;
        /*font-family: 'Raleway', sans-serif;*/
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
        color: #fff;
        background-color: #000;
        margin: auto;
        /*margin-bottom: 186px;*/
        text-align: center;
        vertical-align: middle;
        /*font-weight: 600;*/
        letter-spacing: 0.2em;
        border: none;
        transition: all 300ms;
    }

    .look:hover {
        background: #fff;
        border: 1px solid #828282;
        color: #333333;
    }

    .about {
        max-width: 1440px;
        margin: 0 auto;
        color: #000;
        margin-top: 186px;
    }

    .about__img {
        display: block;
        width: 1184px;
        height: 656px;
        margin: 0 auto;
        margin-bottom: 192px;
        background-image: url(../image/about.png);
    }

    .about__title,
    .shooting__title,
    .music__title,
    .news__title,
    .blog__title {
        font-size: 48px;
        line-height: 60px;
        padding-left: 0;
        font-weight: bolder;
        text-transform: none;
        color: #333333;
        text-align: left;
        margin: 0;
    }

    .row {
        display: block;
        width: 1184px;
        font-size: 0;
        margin: 0 auto;
        margin-bottom: 70px;
    }

    .column-left,
    .column-right {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-left: 0;
    }

    .about__subtitle-desktop,
    .shooting__subtitle,
    .music__subtitle {
        display: block;
        /*font-family: Raleway;*/
        font-style: normal;
        /*font-weight: 600;*/
        font-size: 16px;
        line-height: 24px;
        padding-right: 70px;
        color: #828282;
        text-transform: none;
        text-align: left;
    }

    .about__text {
        /*font-family: Raleway;*/
        font-style: normal;
        /*font-weight: 600;*/
        font-size: 19px;
        line-height: 30px;
        padding-right: 47px;
        padding-top: 12px;
        padding-left: 11px;
        color: #4F4F4F;
        text-align: left;
        text-transform: none;
        margin: 0;
    }

    .shooting,
    .music {
        max-width: 1440px;
        margin: 0 auto;
    }

    .shooting__row,
    .music__row,
    .news__row {
        display: block;
        width: 1184px;
        font-size: 0;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .shooting__quote-one {
        /*font-weight: bold;*/
        font-size: 26px;
        line-height: 38px;
    }

    .shooting__cite {
        font-size: 16px;
        line-height: 24px;
    }

    .shooting__img-top {
        background-image: url(../image/shooting-b.png);
        width: 1184px;
        height: 656px;
        margin: 0 auto;
        margin-bottom: 16px;
    }

    .shooting__img-bottom {
        width: 1184px;
        margin: 0 auto;
        margin-bottom: 78px;
    }

    .shooting__img-left {
        display: inline-block;
        background-image: url(../image/shooting-left.png);
        width: 584px;
        height: 672px;
        margin-right: 16px;
        float: left;
    }

    .shooting__img-right-top {
        display: inline-block;
        background-image: url(../image/shooting-right-top.png);
        width: 584px;
        height: 328px;
        margin-bottom: 16px;
    }

    .shooting__img-right-bottom {
        display: inline-block;
        background-image: url(../image/shooting-right-bottom.png);
        width: 584px;
        height: 328px;
    }

    .shooting__container {
        width: 1184px;
        margin: 0 auto;


    }

    .shooting__quote-two,
    .shooting__quote-four {
        display: block;
        width: 100%;
        font-size: 26px;
        line-height: 38px;
        font-weight: bold;
        color: #4F4F4F;
        text-transform: none;
        margin: 0;
        margin-bottom: 77px;
        margin-top: 77px;
        padding-left: 600px;
        padding-right: 22px;
        text-align: left;
    }

    .shooting__img-two {
        display: block;
        background-image: url(../image/shooting-b-two.png);
        width: 1184px;
        height: 656px;
        /*margin-bottom: 14px;*/
        margin: 0 auto;
    }

    .shooting__img-two-left {
        display: inline-block;
        background-image: url(../image/shooting-b-two-left.png);
        width: 584px;
        height: 329px;
        float: left;
        margin-right: 16px;
    }

    .shooting__img-two-right {
        display: inline-block;
        background-image: url(../image/shooting-b-two-right.png);
        width: 584px;
        height: 329px;
    }

    .shooting__img-bottom-two {
        width: 1184px;
        margin-top: 14px;
        margin-bottom: 7px;
        margin: 0 auto;
    }

    .shooting__text-left,
    .shooting__text-right {
        font-size: 16px;
        line-height: 24px;
        padding: 0;
        color: #828282;
        text-transform: none;
        text-align: left;
        margin: 0;
    }

    .shooting__text-right {
        padding-left: 10px;
    }

    .shooting__img-bottom-three {
        margin-bottom: 104px;
    }

    .shooting__img-three-left {
        display: inline-block;
        background-image: url(../image/shooting-d-three-left.png);
        width: 584px;
        height: 328px;
        margin-right: 16px;
    }

    .shooting__img-three-right {
        display: inline-block;
        background-image: url(../image/shooting-d-three-right.png);
        width: 584px;
        height: 328px;
    }

    .shooting__quote-three {
        display: block;
        font-size: 18px;
        line-height: 30px;
        color: #4F4F4F;
        text-transform: none;
        margin: 0;
        padding-left: 16px;
        padding-right: 22px;
        text-align: left;
        margin-bottom: 30px;
    }

    .shooting__tags,
    .music__tags {
        /*font-weight: 600;*/
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: left;
        color: #333333;
    }

    .tags-item {
        font-size: 14px;
        line-height: 26px;
        color: #FD243C;
        margin-right: 525px;
        text-transform: none;
    }

    .shooting__btn,
    .news__btn {
        width: 192px;
        height: 40px;
        /*font-weight: 600;*/
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #333333;
        margin-right: 364px;
        margin-bottom: 169px;
        border: none;
    }


    .shooting__btn:hover,
    .news__btn:hover {
        background: #fff;
        border: 1px solid #828282;
        color: #333333;
    }

    .music__subtitle {
        padding-right: 68px;
        padding-left: 0;
    }

    .music__text {
        font-size: 18px;
        line-height: 30px;
        text-transform: none;
        text-align: left;
        color: #4F4F4F;
    }

    .music__one {
        background-image: url(../image/music-one.png);
        width: 1184px;
        height: 656px;
        margin-bottom: 14px;
    }

    .music__text-left {
        font-size: 16px;
        line-height: 24px;
        color: #828282;
        text-align: left;
        text-transform: none;
        margin: 0;
        /*font-weight: 500;*/
    }

    .music__text-right {
        font-size: 18px;
        line-height: 30px;
        padding-top: 97px;
        padding-right: 39px;
        text-align: left;
        text-transform: none;
        color: #4F4F4F;
    }

    .music__img-two {
        background-image: url(../image/music-two.png);
        width: 1184px;
        height: 539px;
        margin-bottom: 17px;
    }

    .music__img-left {
        display: inline-block;
        background-image: url(../image/music-left.png);
        width: 584px;
        height: 328px;
        margin-right: 16px;
        margin-bottom: 99px;
    }

    .music__img-left:hover {
        display: inline-block;
        width: 584px;
        height: 328px;
        margin: 0 auto;
        background-image: url(../image/gif.gif);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 16px;
        margin-bottom: 99px;
    }


    .music__img-right {
        display: inline-block;
        background-image: url(../image/music-right.png);
        width: 584px;
        height: 328px;
        margin-bottom: 99px;
    }

    .apple {
      display: block;
        margin-bottom: 70px;
    }

    .music-btn {
      display: block;
      text-align: center;
    }

    .news {
      width: 1184px;
      margin: 0 auto;
    }

    .news__title {
      margin-bottom: 50px;
    }

    .news__left {
        background-image: url(../image/news.png);
        width: 592px;
        height: 440px;
    }

    .news__time {
        display: block;
        font-size: 16px;
        line-height: 24px;
        color: #828282;
        text-transform: none;
        padding-left: 30px;
        text-align: left;
        padding-top: 48px;
        padding-right: 20px;
    }

    .news__subtittle {
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
        text-transform: none;
        color: #333333;
        padding-left: 30px;
        /*font-weight: bold;*/
    }

    .news__text {
        font-size: 17px;
        line-height: 27px;
        text-align: left;
        padding-left: 30px;
        padding-right: 20px;
        text-transform: none;
        color: #4F4F4F;
    }

    .news__btn {
        margin-left: 30px;
        border: none;
    }

    .news__left-two {
        background-image: url(../image/newa-two.png);
        width: 594px;
        height: 440px;
    }

    .news__tags-top {
        /*font-weight: 600;*/
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.2em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #DF2A26;
        padding-left: 30px;
    }

    .news__tags-bottom {
        display: block;
        /*font-weight: 600;*/
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.2em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #DF2A26;
        margin-left: 30px;
        text-align: left;
    }

    .carousel {
        width: 1184px;
        color: #000;
        margin: 0 auto;
    }

    .slick-arrow {
        display: block;
        color: #000;
        background: #000;
    }

    .slick-prev:before {
        width: 40px;
        height: 40px;
        border-bottom: 2px solid #828282;
        border-left: 2px solid #828282;
        background: #000;
        left: -20px;
        top: -120px;
        transform: rotate(45deg);
        background: transparent;
        position: absolute;
    }

    .slick-next:before {
        width: 40px;
        height: 40px;
        border-top: 2px solid #828282;
        border-right: 2px solid #828282;
        background: #000;
        left: -20px;
        top: -120px;
        transform: rotate(45deg);
        background: transparent;
        position: absolute;
    }

    .blog {
        width: 1184px;
        margin: 0 auto;
        margin-bottom: 200px;
    }

    .blog__row {
        display: block;
        text-align: left;
    }

    .blog__column {
        display: inline-block;
        width: 29%;
        margin-right: 17px;
        text-align: left;
        vertical-align: top;
    }

    .blog__column-tags {
        display: inline-block;
        width: 8%;
    }

    .blog__title {
        margin-bottom: 104px;
    }

    .blog__img {
      display: block;
      width: 343px;
      height: 272px;
      position: relative;
      margin-bottom: 49px;
    }    

    .blog__img.left {     
      background-image: url(../image/blog-left.png);
 
    }

    .blog__img.centre {  
      background-image: url(../image/blog-centre.png);
    }

    .blog__img.right {
      background-image: url(../image/blog-right.png);
    }

    .blog__img:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: opacity 0.1s;
    }

    .blog__item:hover .blog__img:after {
        opacity: 0;

    }

    .blog__item:hover .blog__subtitle {
         color: #828282;

    }

    .blog__item:hover .blog__text {
         color: #828282;  

    }


    .blog__subtitle {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.02em;
        color: #333333;
        text-transform: none;
        /*font-weight: 700;*/
    }

    .blog__text {
        font-size: 17px;
        line-height: 27px;
        color: #4F4F4F;
        text-transform: none;
        padding-right: 14px;
    }

    .blog__time {
        font-size: 16px;
        line-height: 24px;
        color: #828282;
        text-transform: none;
    }

    .blog__tags {
        /*font-weight: 600;*/
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #333333;
        margin-top: 0;
    }

    /*.blog__btn {
        width: 192px;
        height: 40px;
        background: #333333;
        /*font-weight: 600;*/
        /*font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
    }*/

    /*.blog__btn:hover {
        background: #fff;
        border: 1px solid #828282;
        color: #333333;
    }*/

    ul {
        padding: 0;
    }

    .blog__tags-item {
        font-size: 14px;
        line-height: 26px;
        color: #FD243C;
        padding-left: 0;
        text-transform: none;
    }

    .instagram {
        margin: 0 auto;
        margin-bottom: 199px;
    }

    .instagram__title {
        /*font-weight: 700;*/
        font-size: 24px;
        line-height: 51px;
        text-align: center;
        color: #4F4F4F;
        letter-spacing: 0.25em;
        margin: 0;
        margin-bottom: 20px;
    }

    .instagram__name {
        /*font-weight: normal;*/
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #828282;
        text-transform: none;
        margin-bottom: 56px;
    }

    .instagram__img {
        display: block;
        width: 100%;
        font-size: 0;
    }

    .instagram__img-item {
        display: inline-block;
        letter-spacing: 0em;
        width: 361px;
        height: 360px;
    }

    .contact__row {
        display: block;
        width: 1184px;
        font-size: 0;
        margin: 0 auto;
        margin-bottom: 200px;
    }

    .contact__column {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .contact__tittle {
        /*font-weight: bold;*/
        font-size: 48px;
        line-height: 60px;
        color: #333333;
        text-transform: none;
        vertical-align: top;
        margin: 0;
    }

    .contact__item {
        margin-bottom: 30px;

    }

    .contact__name {
        font-size: 26px;
        line-height: 38px;
        color: #4F4F4F;
        /*font-weight: bold;*/
        text-transform: none;
        font-weight: bold;
        margin: 0;
    }

    .contact__email {
        font-size: 18px;
        line-height: 30px;
        color: #4F4F4F;
        text-transform: none;
    }

    .contact__tel {
        font-weight: bold;
        font-size: 22px;
        line-height: 193.78%;
        letter-spacing: 0.02em;
        color: #4F4F4F;
    }

    .footer__icon {
        display: inline-block;
        background: url(../image/css_sprites.png), no-repeat;
        width: 42px;
        height: 42px;
        margin-top: 20px;
        margin-right: 30px;
    }

    .whatsapp {
        background-position: -10px -72px;
    }

    .whatsapp:hover {
        background-position: -72px -72px;
    }

    .talagram {
        background-position: -134px -10px;
    }

    .talagram:hover {
        background-position: -134px -72px;
    }

    .facebook {
        background-position: -10px -10px;
    }

    .facebook:hover {
        background-position: -72px -10px;
    }


}